body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}

header {
    background-color: #4cafa3;
    color: white;
    padding: 1rem;
    text-align: center;
}

nav ul {
    display: flex;
    justify-content: center;
    padding: 0;
    list-style: none;
}

nav ul li {
    margin: 0 15px;
}

/* Style for the navigation links */
nav ul li a {
    color: rgb(168, 196, 192);
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 50px; /* Makes it circular */
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

/* When hovering over a link */
nav ul li a:hover {
    background-color: #a8e6cf; /* Light green */
    color: #000; /* Black text for contrast */
}

/* When a link is currently active */
nav ul li a.active {
    background-color: #a8e6cf; /* Light green */
    color: #000; /* Black text for contrast */
}

main {
    padding: 2rem;
    text-align: center;
}

ul {
    padding: 0;
    list-style: none;
}

/* Pet images */
ul li img {
    width: 150px;
    border-radius: 10px;
}

footer {
    background-color: #4cafa3;
    color: white;
    padding: 1rem;
    text-align: center;
    margin-top: 20px;
}